<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aplicação DEVOPS</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            <h1>Aplicação DEVOPS</h1>
        </header>

        <main>
            <h2>Bem-vindo à Aplicação DEVOPS!</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sapiente possimus sequi officiis.</p>
            <h3>Integrantes:</h3>
            <p>Clique no link abaixo e veja os integrantes que fizeram parte desta aplicação.</p>
            <p>
                <span class="tooltip">
                    <a class="link" href="http://localhost:3000/integrantes" >Integrantes</a>
                    <span class="tooltiptext">http://localhost:3000/integrantes</span>
                </span>
            </p>
        </main>

        <footer>
            <p>&copy; 2024 Aplicação DEVOPS. Todos os direitos reservados.</p>
        </footer>   
    </body>
</html>
